@media (min-width: 768px) {
    html {
      font-size: 16px;
    }

    
  }

  body #fifa {
      margin-top: 10px;
      text-align: center;
  }

  body #fifa span {
      color: rgb(9, 68, 163);
      font-weight: bolder;

  }

  ul li {
    list-style-type: none;
  }

  .center {
      text-align: center;
  }

  .top-nav {
      background-color: rgb(27, 14, 83);
  }

  a {
        color: red;
  }

  a :link {
      color: green;
  }

  a :visited {
      color: gold;
  }

  a :hover {
      color: white;
  }

  a :active {
      color: fuchsia;
  }

  #topic {
      font-family: Arial, Helvetica, sans-serif;
      color: pink;
      margin-top: 14px;
      padding: 0px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

thead td{
    text-align: center;
    color: blue;
    font-weight: bolder;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

sup {
    color: red;
}